:root {
    --azul-claro-color: #E9F1FA;
    --azul-brilhante-color: #00ABE4;
    --branco-color: #FFFFFF;
    --cinza-escuro-color: #4A4A4A;

}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: var(--branco-color);
    color: var(--cinza-escuro-color);

    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 0.875rem;
}

a {
    text-decoration: none;
    color: inherit;
}

.header {
    text-align: center;
    padding: 12px;
}

.agendamento-form {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
}

.option-label {
    margin: 3px;
    font-size: 1rem;
}

.option-button {
    font-size: 0.8em;
    padding: 13px;
    margin-bottom: 12px;
}

.nav-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.logo {
    max-width: 40%;
}
    
.choices {
    margin: 0;
    width: 100%;
     
}

.choices__inner {
    background-color: #fff;
    border: 1px solid #7a7a7a;
    color: #000000;
    font-size: 0.8em;
    margin-bottom: 12px;
    max-width: 100%;
    box-sizing: border-box; /* garante que borda + padding não quebrem o layout */
}

.choices__list--single {
    padding: 6px;
}

.choices__item--selectable.is-highlighted {
    background-color: #1976d2 !important;
    color: #fff !important;
    font-size: 0.8em;
    padding: 10px;
    margin-bottom: 12px;
    max-width: 100%;
    outline: 1px solid black
}