:root {
    --azul-claro-color: #E9F1FA;
    --azul-brilhante-color: #00ABE4;
    --branco-color: #FFFFFF;
    --cinza-escuro-color: #4A4A4A;

}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: var(--branco-color);
    color: var(--cinza-escuro-color);

    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 0.875rem;
}

a {
    text-decoration: none;
    color: inherit;
}

.header {
    text-align: center;
    padding: 12px;
}

.agendamento-form {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
}

.option-label {
    margin-bottom: 5px;
    font-size: 1rem;
}

.option-button {
    padding: 10px;
    margin-bottom: 12px;
}

.nav-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.logo {
    max-width: 40%;
}