:root {
    --azul-claro-color: #E9F1FA;
    --azul-brilhante-color: #00ABE4;
    --branco-color: #FFFFFF;
    --cinza-escuro-color: #4A4A4A;

}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: var(--branco-color);
    color: var(--cinza-escuro-color);

    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 0.875rem;
}

.header {
    text-align: center;
    padding: 12px;
}

.options {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 400px;
}

.option-button {
    font-size: 0.8em;
    padding: 13px;
    margin-bottom: 12px;
}

button, 
input[type="button"], 
input[type="submit"], 
input[type="reset"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border: none;
    border-radius: 4px;
    background-color: var(--azul-brilhante-color);
    color: var(--branco-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    padding: 12px 24px;
    min-height: 44px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}



.logo {
    max-width: 200px;
}